@import './scss/libs/normalize';
@import './scss/components/all';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  text-align: center;
}

header {
  width: 100vw;
  height: 100px;
  padding: 40px;
  // background-color: rgba(255, 255, 0, 0.1);
  background: linear-gradient(rgb(255, 255, 0), rgba(255, 255, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  .wrapper_logo {
    display: flex;
    align-items: center;
  }

  .header_title {
    font-size: 45px;
    color: #61DAFB;
  }

  ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .header_list {
      color: #61DAFB;
      font-size: 22px;

      &:hover {
        transition: 0.1s;
        transform: scale(1.2);
        color: linear-gradient(70deg, rgb(223, 247, 3), rgb(38, 66, 245));
        
      }
    }
  }

  .header_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 150px;
    height: 50px;
    padding-right: 20px;
    position: fixed;
    bottom: 5%;
    left: 89%;
    font-size: 16px;
    color: #61DAFB;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;

    &:hover {
      border-color: #61DAFB;

      .header_btn_img {
        left: 5px;
      }
    }

    .header_btn_img {
      width: 32px;
      height: 28px;
      position: absolute;
      left: 15px;
      transition: all 0.40s ease-in-out;
    }
  }

}

.img_home {
  width: 80px;
  color: green;
  fill: rgb(255, 255, 0);
  stroke: blue;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .img_home {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



